body {
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}

.title {
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 30px;   
}

.title img {
    height: 4rem;
    margin-right: 20px;
}
.point {
    color: #ee6871;
    font-size: 100px;
    font-weight: bolder;
}

.content, .box {

    border-radius: 80px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 0.5%;
    color: #ffffff  
}

.box {
    background-color: #7485e9;
    width: 45%;
    height: auto;  
}

